<mat-tab-group>
  <mat-tab label="Persons">

  </mat-tab>
  <mat-tab label="Events">

  </mat-tab>
  <mat-tab label="Families">

  </mat-tab>
</mat-tab-group>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<mat-tab-group>
  <mat-tab label="Events">
    <app-person-events-view></app-person-events-view>
  </mat-tab>
  <mat-tab label="Families">
    <app-person-families-view></app-person-families-view>
  </mat-tab>
  <mat-tab label="Trees">
<!--    <app-family-view [treeId]="treeId!"></app-family-view>-->
  </mat-tab>
</mat-tab-group>


